.OSS {
	background-image: url(/grid.svg);
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.titleOSS {
	background: linear-gradient(45deg, hsla(0, 0%, 100%, 1) 11%, rgb(175, 175, 175) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	@apply h-60 font-[SegoeBold] pt-36 text-4xl text-center md:text-6xl opacity-100
}