.wave {
    background: url(/svg/wave.svg) no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;
	
}

.stars {
	background-image: url(/nebulous.webp);
	background-color: transparent;
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;

	@apply lg:h-screen
}

.stars::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	left: -45%;
	background: url(/noise.webp) repeat,linear-gradient(247.23deg,#1919da 0%,#2f8bb3 100%);
	background-blend-mode: overlay;
	-webkit-mask-image: radial-gradient(rgba(0,0,0,.7),transparent 70%);
	z-index: 1;
	opacity: 40%;
}
