---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Visual Tradex">
	<div class="flex justify-center mt-32">
		<h1 class="text-xl md:text-2xl md:text-center text-cyan-700 text-center">Página web en construcción</h1>
	</div>
</Layout>
