<section class="principal absolute w-full min-h-screen">
	<div class="mt-52">
		<div class="inset-y-1/2 drop-shadow flex flex-col lg:flex-row">
			<h1 class="flex items-center lg:items-start flex-col justify-center lg:justify-start text-7xl text-center lg:text-left md:text-8xl font-[SegoeBold] vtx lg:pt-36 px-6">Visual Tradex</h1>	 
		</div>
		<div class="inset-y-1/2 drop-shadow flex flex-col lg:flex-row mt-4">
			<p class="text-white flex items-center lg:items-start flex-col justify-center lg:justify-start px-6 font-[SegoeUI] ml-0 lg:ml-16 text-xl md:text-3xl">Para de hablar y comienza a innovar.</p>
		</div>
		<div style="background: url(/wave.svg); background-repeat: no-repeat;" class="w-full h-full absolute top-[99%]"></div>
	</div>
</section>
