<section class="principal absolute w-full min-h-screen" style="background-image: url(/stars.png);" id='stars'>
	<div class="pt-24 pb-8 overflow-hidden z-10">
		<div class="mx-auto max-w-7xl px-4 sm:px-6">
			<div class="lg:grid lg:grid-cols-12 mx-auto lg:gap-16 justify-center">
				<div class="relative z-10 px-4 mb-8 sm:px-6 sm:text-center sm:mb-16 lg:mb-0 lg:px-0 lg:text-left lg:flex col-span-6">
					<div class="lg:py-24">
						<h1 class="mt-4 mb-4 text-7xl lg:text-9xl font-[SegoeBold] tracking-tight font-extrabold vtx sm:mt-5 lg:mt-6 text-center lg:text-left">
							<span class="block"> Visual Tradex</span>
						</h1>
						<p class="mt-3 font-[SegoeUI] sm:mx-auto lg:mx-0 max-w-lg text-center lg:text-left text-lg sm:text-2xl text-neutral-200 sm:mt-5">
							Ofrecer soluciones informáticas personalizadas y productos comerciales a pequeñas y grandes empresas.
						</p>
						<p class="mt-3 font-[SegoeUI] sm:mx-auto lg:mx-0 max-w-lg text-center lg:text-left text-base sm:text-xl text-neutral-200/40 sm:mt-5">
						  "Para de hablar y comienza a innovar."
						</p>
					</div>
				</div>
					<div class="mx-auto ">
						<div class="absolute">
							<div class="flex justify-center items-center relative flex-col pt-4 pb-8 sm:py-10 px-6 sm:px-12 drop-shadow-lg select-none">
								<img src="/pc.webp" alt="PC">
							</div>
						</div>
					</div>
			</div>
		</div>
		<div style="background: url(/wave.svg); background-repeat: no-repeat;" class="w-full h-full absolute top-[99%] -z-10">
		</div>
	</div>
</section>
