<section class="principal relative mx-auto">
  <div class="">
    <div class="flex items-center justify-between">
      <!-- <div class="rellax w-20 opacity-80" data-rellax-speed='-3'><img src="/figures/cube.png" alt="Cube"></div>
      <div class="rellax w-32 opacity-80" data-rellax-speed='5'><img src="/figures/ring.png" alt="Ring"></div> -->
    </div>
    <div class="inset-y-1/2 drop-shadow">
      <h1 class="flex items-center flex-col min-h-[320px] justify-center text-7xl font-[SegoeBold]">Visual Tradex <span class="text-xl font-[SegoeUI]">Para de hablar y comienza a innovar</span><span class="font-[SegoeUI] text-lg underline decoration-wavy decoration-red-500">Sitio web en construccion</span></h1>
    </div>
    <div class="flex items-center justify-around">
      <!-- <div class="rellax w-32" data-rellax-speed='2'><img src="/figures/triangle.png" alt="Triangle"></div>
      <div class="rellax w-32" data-rellax-speed='-3'><img src="/figures/bole.png" alt="Bole"></div> -->
    </div>
  </div>
</section>
