<section class="principal relative w-full" style="background-image: url(/stars.png);" id='home'>
  <div class="pt-24 pb-8 overflow-hidden z-10">
  	<div class="mx-auto max-w-7xl px-4 sm:px-6">
  	  <div class="lg:flex lg:justify-center lg:items-center lg:flex-col mx-auto lg:gap-16 justify-center">
  	  	<div class="relative z-10 px-4 mb-8 sm:px-6 sm:text-center sm:mb-16 lg:mb-0 lg:px-0 lg:flex col-span-6">
  	  		<div class="lg:py-24">
  	  			<p class="mt-4 mb-4 text-2xl lg:text-6xl h-full font-[SegoeBold] tracking-tight font-extrabold vtx sm:mt-5 text-center">
  	  				Creando soluciones informáticas personalizadas y productos comerciales a pequeñas, medianas y grandes empresas.
  	  			</p>
  	  			<p class="mt-3 font-[Questrial] text-center text-base sm:text-2xl text-neutral-200/50 sm:mt-5">
  	  			  "Para de hablar y comienza a innovar."
  	  			</p>
  	  		</div>
  	  	</div>
  	  </div>
  	</div>
  	<div style="background: url(/wave.svg); background-repeat: no-repeat;" class="w-full h-full absolute top-[99%] -z-10"></div>
  </div>
</section>
